"*":
  core:
    disabledPackages: [
      "welcome"
      "background-tips"
      "status-bar"
      "linter-jshint"
      "atom-jshint"
    ]
    useCustomTitleBar: true
  editor:
    fontFamily: "OperatorMono-Book"
    fontSize: 16
    invisibles: {}
    scrollPastEnd: true
    showIndentGuide: true
    tabType: "soft"
  "exception-reporting":
    userId: "24ffdd4a-5bf9-d7df-d51f-48b5f66864b0"
  jshint:
    supportLintingJsx: true
    validateOnlyOnSave: true
  "language-babel": {}
  linter:
    errorPanelHeight: 90
    statusIconScope: "File"
  "linter-eslint":
    useGlobalEslint: true
  "linter-jshint": {}
  "linter-rubocop":
    command: "/Users/falkojoseph/.rbenv/shims/rubocop"
  "linter-scss-lint":
    executablePath: "/Users/falkojoseph/.rbenv/shims/scss-lint"
  minimap:
    displayMinimapOnLeft: true
    plugins:
      bookmarks: true
      bookmarksDecorationsZIndex: 0
      linter: true
      linterDecorationsZIndex: 0
  "one-dark-ui":
    layoutMode: "Compact"
  "one-light-ui":
    layoutMode: "Compact"
    tabSizing: "Even"
  react: {}
  "split-diff":
    diffWords: true
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
    syncHorizontalScroll: true
  "status-bar": {}
  tabs:
    showIcons: false
  "tool-bar":
    position: "Left"
  "tree-view":
    hideIgnoredNames: true
    showOnRightSide: true
  welcome:
    showOnStartup: false
