"*":
  "exception-reporting":
    userId: "c553f4af-7653-1eac-742a-b277c07af5fc"
  welcome:
    showOnStartup: false
  metrics:
    userId: "05188b65efe95414ba340fb0af8ec4563d56105e"
  core:
    disabledPackages: [
      "dev-live-reload"
      "deprecation-cop"
      "welcome"
      "background-tips"
      "racer"
      "timecop"
      "merge-conflicts"
      "metrics"
      "image-view"
      "styleguide"
      "autocomplete"
      "sublime-tabs"
      "language-clojure"
      "language-csharp"
      "language-go"
      "language-java"
      "language-make"
      "language-perl"
      "language-objective-c"
      "autoflow"
      "minimap"
      "slash-closer"
      "vim-mode"
    ]
    destroyEmptyPanes: false
    themes: [
      "one-dark-ui"
      "chester-atom-syntax"
    ]
  editor:
    scrollPastEnd: true
    invisibles: {}
    fontSize: 15
  linter:
    statusIconScope: "File"
    showErrorPanel: false
  react: {}
  "linter-scss-lint":
    executablePath: "/Users/falkojoseph/.rbenv/shims/scss-lint"
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
    showOnRightSide: true
  "one-light-ui":
    layoutMode: "Compact"
  "one-dark-ui": {}
  "autocomplete-ruby": {}
  "linter-rubocop":
    executablePath: "/Users/falkojoseph/.rbenv/versions/2.2.3/bin/rubocop"
"git-diff":
  showIconsInEditorGutter: true
tabs:
  tabScrolling: true
  showIcons: false
linter:
  subtleLinterErrors: [
    "scss-lint"
  ]
  statusBar: "Show error if the cursor is in range"
"travis-ci-status":
  personalAccessToken: "e9852c50be871e39e0e821bdd5186ae442efeb0c"
"block-cursor":
  primaryColor:
    red: 64
    green: 64
    blue: 64
    alpha: 1
  secondaryColor:
    red: 195
    green: 195
    blue: 195
    alpha: 1
  cursorThickness: 3
  preview: "The quick brown fox jumps over the lazy dog"
"sublime-tabs":
  showIcons: false
autosave:
  enabled: true
"tree-view":
  hideIgnoredNames: true
  hideVcsIgnoredFiles: true
  showOnRightSide: true
"autocomplete-plus":
  maxVisibleSuggestions: 5
minimap:
  plugins:
    "git-diff": true
  displayMinimapOnLeft: true
"one-light-ui":
  layoutMode: "Compact"
