// Overrides
* {
  font-family: 'OperatorMono-Book';
}

// Remove tab shadow
.tab-bar { box-shadow: none; }

// Remove left border
[theme-one-light-ui-layoutmode="auto"] atom-pane-container atom-pane { border-left: 0; }

// Remove top border
.platform-darwin atom-workspace.theme-one-light-ui { border-top: none; }

// Remove right border on tabs
[theme-one-light-ui-layoutmode="auto"] .tab-bar .tab:last-of-type::after { box-shadow: none; }

// Remove tab border
.tab-bar .tab::after { border: 0; }

// Font size
[theme-one-dark-ui-layoutmode="compact"] {
  font-size: 13px;
}

// Italic attributes for e.g. Javascript
.entity.other.attribute-name {
  font-style: italic;
}

// Italic attributes for everything
atom-text-editor::shadow{
  .entity.other.attribute-name {
      font-style: italic;
  }
}
